---
import { Image } from 'astro:assets';
import what from '../../assets/Hyperspace.png';
import Card from '../Card.astro';
---

<div class="">
    <Card
        title="HYPERSPACE"
        body="Level Programmer/Designer"
        live="http://cpcretrodev.byterealms.com/wp-content/uploads/contest/2020/games/Hyperspace_Hardbytes.zip"
    >
        <div>
        <Image
            class="project-image border  border-black"
            src={what}
            alt=""
            densities={[1, 2, 3]} 
        />
        </div>
        <style>
            .project-image {
                width: 100%;
                height: auto;
            }
        </style>
    </Card>
</div>


