---
import { Image } from 'astro:assets';
import what from '../../assets/Hyper.png';
import Card from '../Card.astro';
---

<div class="">
    <Card
        title="Hyper Adrenaline"
        body="Gameplay/AI/Technical Programmer"
        itchio="https://hard-bytes.itch.io/hyper-adrenaline"
        github='https://github.com/Hard-Bytes/HyperAdrenaline'
    >
        <div>
            <Image
                class="project-image border  border-black"
                src={what}
                alt=""
                densities={[1, 2, 3]} 
            />
        </div>
        <style>
            .project-image {
            width: 100%;
            height: auto;
            }
        </style>
    </Card>
</div>


