---
import { Image } from 'astro:assets';
import what from '../../assets/Spacepng.png';
---

<div>
  <Image
    class="project-image border  border-black"
    src={what}
    alt=""
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
