---
import Social from "./Social.astro";
const formSpreeURL = "mailto:ivpr199@gmail.com";
---

<div id="contact">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="font-bold text-3xl m-0 mb-2">Contact Me At</h2>
    <h2 class="font-bold text-3xl m-0 mb-2"><a href="mailto:ivpr199@gmail.com" target="_blank">ivpr199@gmail.com</a></h3>
  </div>
  <div class="flex justify-center mb-16">
    <Social />
  </div>
</div>

<style>
  form {
    padding: 20px 0;
  }
  label {
    display: block;
  }
  h2{
        font-family: "IndustryBlack", sans-serif !important;
    }
</style>
